body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: brown;
  font-family: sans-serif;
}
#drum-machine , .drum-pads{
  background-color: #B2391F;
  height: 300px;
  width: 650px;
  border: 1px solid #B2391F;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
#drum-machine {
  height: 450px;
}

 .drum-pad  {
  height: 50px;
  flex: 28%;
  padding: 12px;
  max-width: 80px;
  min-width: 50px;
  margin-left: 80px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color : #301E1A;
  color: white;
  text-align: center;
}

#current-sound {
  flex: 100%;
  margin-left: 16rem;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 140px;
  text-align: center;
  background-color: black;
  color: aliceblue;
  margin-bottom: 20px;
  height: 4rem;
  
  
}
#display {
  margin-top: 20px;
  text-align: center;
  max-width: 100px;
  background-color: black;
  color : whitesmoke;
  margin-left: 17rem;
  line-height: 24px;
}